/* Define a flex container for the navbar and main content */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

/* Styling for the main content of the page */
#content {
    padding-top: 50px; /* Adjust the top padding to ensure content is below the navbar */
    margin-left: 5%;
    margin-right: 5%;
}

nav {
    background-color: #eeeeee;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px; /* Adjust padding for better styling */
    display: flex;
    justify-content: space-between; /* Keep Home and Wiki/Documentation on the left*/
    align-items: center; /* Center the items vertically */
    transition: background-color 0.5s; /* Added transition for background color */
}

.navbar-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Center the links vertically */
}

nav a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.5s; /* Added transition for background color */
}

nav a:hover {
    background-color: #ddd;
    color: black;
    transition: background-color 0.5s; /* Added transition for background color */
}

#pfp {
    border-radius: 20%;
    width: 128px;
    display: block;
    margin: 0 auto;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #111;
    color: #fff;
}

nav.dark-mode {
    background-color: #333;
}

nav.dark-mode a {
    color: #fff;
}

nav.dark-mode a:hover {
    background-color: #555;
}

/* Style for the dark mode toggle button */
.dark-mode-toggle {
    background-color: #eeeeee; /* Light background color */
    color: #000000; /* Black text color */
    font-size: 8pt; /* Normal size */
    border: none;
    height: 50px;
    padding: 5px 7px;
    box-sizing: border-box;
    cursor: default;
    transition: background-color 0.5s, color 0.5s; /* Added transition for toggle button */
}

.dark-mode-toggle:hover {
    background-color: #ddd; /* Darker background color on hover */
}

/* Adjust dark mode toggle for light mode */
body.dark-mode .dark-mode-toggle {
    background-color: #333; /* Dark background color in dark mode */
    color: #ffffff; /* White text color in dark mode */
}

body.dark-mode .dark-mode-toggle:hover {
    background-color: #555; /* Lighter background color on hover in dark mode */
}

.align-center {
    text-align: center;
}